.box{
  width: 100%;
}
.ul-list .li-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.ul-list .li-item lable:nth-child(1){
  flex: 3; 
}
.ul-list .li-item lable:nth-child(2){
  flex: 6; 
}
.ul-list .li-item lable{ 
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.ul-list .li-item lable input {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-group{
  width: 100%;
  text-align: right;
  padding-right: 40px;
}
.btn-group .pqzt label{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
button {
  padding: 5px 10px;
  border-radius: 4px;
  position: relative;
}
.savedir{
  margin: 20px;
}
.savedir .setDir{
  position: relative;

}
.savedir .setDir input{
  position: absolute;
  left: 0;;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

